<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">
        <div class="rounded-circle bg-primary">
            <i class="bi bi-clipboard2-check-fill"></i>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Instrumento</h5>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-2">
        <div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				<i class="bi bi-three-dots-vertical"></i>
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem><i class="bi bi-pencil-square"></i> Editar</button>
				<button ngbDropdownItem><i class="bi bi-trash"></i> Borrar</button>
			</div>
		</div>
      </div>
    </div>
  </div>
