<div class="card text-white bg-primary mb-3" style="max-width: 18rem">
  <div class="card-header">Diseño de interfaces</div>
  <div class="card-body">
    <h5 class="card-title">Miguel Campos Rivera</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      suscipit corrupti, cupiditate illo qui repudiandae vero, a illum enim
      necessitatibus, esse nemo iure libero dicta nesciunt. Vel beatae animi
      aspernatur.
    </p>
  </div>
  <div class="card-footer">16 alumnos</div>
</div>
