<div class="container-fluid w-75">
    <div class="d-flex justify-content-between">
        <h1 class="h1 fw-bold">Asignatura</h1>
        <button class="btn btn-primary">Añadir Instrumento</button>
    </div>
    <hr />
    <div class="d-flex flex-column">
        <app-teacher-instrument-item *ngFor="let ins of instrumentoList" [instrument]="ins"></app-teacher-instrument-item>
    </div>
    <nav class="d-flex justify-content-center mt-2">
        <ngb-pagination [collectionSize]="instrumentoInfo.pageNumber" [(page)]="page" [maxSize]="instrumentoInfo.size" [boundaryLinks]="true" />
    </nav>
    
</div>
